{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  <!-- Link to your CSS file -->

    

</head>
<body class="bg-primary">

    <section >
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card p-4">
                        <h1 >Reset Your Password</h1>
                        <form method="POST" class="form">
                            {% csrf_token%}
                            <!-- New Password -->
                            <div class="form-group">
                                <label for="password">New Password</label>
                                <div class="input-container">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    <input  style="padding-left:30px;" type="password" id="password" name="password" required minlength="8" placeholder="Enter your password" pattern="(?=.*\d)(?=.*[!@#$%^&*]).{8,}" title="Minimum length: 8 characters, must include at least one number and one special character. Example: john123!"  onkeyup="validatePassword()">
                                    <i class="fas fa-eye password-icon " id="toggle-password" data-target="password" title="Show password"></i>
                                </div>
                            </div>
                            <div id="password-status" class="small text-danger mb-2"></div>

                            <!-- Submit Button -->
                            <div class="form-group">
                                <button type="submit" class="button-primary p-2 w-100">Reset Password</button>
                            </div>

                            <!-- Optional: Error message -->
                            <div class="form-group">
                                <label>{{ error|safe }}</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Password visibility toggle script -->
    <script>
        const togglePassword = document.getElementById('toggle-password');
        const passwordField = document.getElementById('password');
        
        togglePassword.addEventListener('click', function (e) {
            // Toggle the type of the password field
            const type = passwordField.type === 'password' ? 'text' : 'password';
            passwordField.type = type;
            // Toggle the icon (show/hide)
            this.classList.toggle('fa-eye-slash');
        });

        
        function validatePassword() {
            const password = document.getElementById('password').value;
            const status = document.getElementById('password-status');
            const pattern = /^(?=.*\d)(?=.*[!@#$%^&*]).{8,}$/;
            if (pattern.test(password)) {
                showStatus(status, 'Password meets the criteria');
            } else {
                showStatus(status, 'Minimum length: 8 characters. \nMust include at least one \nnumber and one special character. \nExample: john123!');
            }
        }


        document.getElementById('password').addEventListener('focus', validatePassword);
        document.getElementById('password').addEventListener('keyup', validatePassword);
    </script>

</body>
</html>
